<html>
<div id="login-button">
  <!-- <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"> -->
</div>

<div id="logincontainer">
  <img class="logo" src="../../../assets/appImages/logo.png">
  <span class="close-btn">
    <!-- <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"> -->
  </span>

  <form #loginForm="ngForm" (ngSubmit)="logInClick(loginForm)">
    <div class="errormessage">
      {{errormessage}}
    </div>

    <input required class="loginDetails input-field validate" type="text" name="userName" placeholder="UserName" ngModel>
    <input required class="loginDetails validate" type="password" name="password" placeholder="Password" ngModel>
    <div style="text-align: center">
      <button type="submit" class="loginBtn waves-effect waves-light btn" [disabled]="loginForm.invalid" id="loginBtn">Log in</button>
    </div>

    <div style="text-align: center">
      <!-- <img src="../../../assets/images/loading.gif" alt="loading" style="height: 40px; width: 40px;"> -->
    </div>
  </form>
</div>

<!-- Forgotten Password logincontainer -->
<div id="forgotten-logincontainer">
  <h1>Forgotten</h1>
  <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
  </span>

  <form>
    <input type="email" class="" name="email" placeholder="Username">
    <a href="#" class="orange-btn">Get new password</a>
  </form>
</div>

</html>>