<div class="row">
    <br>
    <div class="col s12 m12 l12">
      <button routerLink="/Types/AddType" class="btn custom-btn-primary float-right">Add type</button>
    </div>
    <div class="col s12 m12 l12">
      <div class="card card-panel">
  
        <div class="card-header">
          <b>Movies Types</b>
          <hr>
        </div>
        <div class="card-body">
          <table class="customtable" style="height: 50px; overflow-y: scroll">
            <thead>
              <tr>
                <th>S No.</th>
                <th>Name</th>
                <!-- <th>Added Date</th>
                <th>Updated Date</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let type of types;let i= index">
                <td>{{i + 1}}</td>
                <td>{{type.name}}</td>
                <!-- <td>{{type.addedDate}}</td>
                <td>{{type.updatedDate}}</td> -->
                <td>
                  <button class="waves-effect  waves-light btn custom-btn-danger custom-btn-sm" (click)="deletetype(type.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <button class="waves-effect waves-light btn custom-btn-primary custom-btn-sm" (click)="edittype(type.id)">
                    <span class="fa fa-pencil"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>