.navHeader{
    background-image: url("../../assets/appImages/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    line-height: 80px !important;
  }

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}



.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content{
  display: none;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}