<app-header></app-header>
<app-load-wrapper></app-load-wrapper>
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <app-side-nav></app-side-nav>
    <section id="content" class="full-body">
      <!--start container-->
      <div class="container">
        <app-type-list></app-type-list>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
