body{
  overflow-x:hidden !important; 
}
@media only screen and (max-width:960px){
  body{
      overflow-x:scroll;
  }
}
header .brand-logo{
  margin: 6px !important;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.customnavHeader{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.navDiv {
  
  display: flex;
}

.dataTblCmp, .jobCrtCmp, .mapProCmp {
  background-color: rgba(0, 250, 0, 0.8);
  border-radius: 40px;
  border: 1px solid;
  width: 90px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: rgb(0, 0, 0);
}

  .dataTblCmp:hover, .jobCrtCmp:hover, .mapProCmp:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
.custom-container{
  position: relative;
  margin-left: 20em;
  margin-top: 1em;
}

.navHeader{
  background-image: url("../assets/appImages/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  line-height: 80px !important;
}

  img.responsive-img, video.responsive-video {
    max-width: 90px;
    height: auto;
    margin-top: 25%;
    margin-bottom: auto;
}
