<!-- <app-error-page *ngIf = "router.url === '/error404'"></app-error-page> -->

<!-- <app-login *ngIf = "loggedIn"></app-login>
<app-wrapper *ngIf = "!loggedIn"></app-wrapper> -->

<router-outlet></router-outlet>
<!-- <app-dashboard></app-dashboard> -->