<app-header></app-header>
<app-load-wrapper></app-load-wrapper>
<div id="main">
  <!-- START WRAPPER -->
  <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <app-side-nav></app-side-nav>
    <section id="content" class="full-body">
      <!--start container-->
      <div class="container">
        <form [formGroup]="movieForm" #confirmForm class="col s12 m12 l12" (ngSubmit)="onSubmit(movieForm.value)">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <strong>Add Movie Details</strong>
                      <hr />
                    </div>
                    <br>
                    <div class="panel-body">
                      <div class="row">
                        <div materialize class="col s12 m12 l12">
                          <label for="job_name">Name</label>
                          <input id="job_name" type="text" class="validate" formControlName="name" placeholder="Type Name" name="Name" required>
                          <div *ngIf="movieError">
                            <p class="validate-error">This Field is required.</p>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col s12 m12 l12">
                          <label></label>
                          <br>
                          <button type="submit" class="waves-effect cyan waves-light btn" style="float: right" [disabled]="confirmForm.invalid">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>