<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="" style="background: #0277bd !important">
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <i class="mdi-social-notifications">
                <img src="../../assets/images/user-sm.png" />
              </i>

            </a>
            <ul id="notifications-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1055px; opacity: 1; display: none;">
              <li>
                <h5>Profile Details</h5>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0)" (click)="logout()">
                  <i class="mdi-editor-insert-invitation"></i> Logout
                </a>
                <!-- <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time> -->
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
              <i class="mdi-action-settings-overscan"></i>
            </a>
          </li>
        </ul>

        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a href="#" class="brand-logo darken-1">

                <span class="logo-text hide-on-med-and-down">DumbsRaj</span>
              </a>
            </h1>
          </li>
        </ul>

      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>