<html>

<head>
  <title>GPS Reconcile</title>
</head>

<body>
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->
  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="" style="background: #0277bd !important">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">

            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                <i class="mdi-social-notifications">
                  <img src="../../assets/images/user-sm.png" />
                </i>

              </a>
              <ul id="notifications-dropdown" class="dropdown-content" style="white-space: nowrap; position: absolute; top: 64px; left: 1055px; opacity: 1; display: none;">
                <li>
                  <h5>Profile Details</h5>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="mdi-editor-insert-invitation"></i> My Bill </a>
                  <!-- <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time> -->
                </li>
                <li (click) = "clearTable()">
                  <a href="javascript:void(0)">
                    <i class="mdi-editor-insert-invitation"></i> Log Out </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                <i class="mdi-action-settings-overscan"></i>
              </a>
            </li>
          </ul>

          <ul class="left">
            <li>
              <h1 class="logo-wrapper">
                <a href="#" class="brand-logo darken-1">
                  <span class="logo-text hide-on-med-and-down">{{companyName}}</span>
                </a>
              </h1>
            </li>
          </ul>

        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <!-- END HEADER -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
          <div class="s6 m6 l6">
            <li class="navHeader">
              <div class="row">
                <div class="col col s4 m4 l4">
                </div>
                <div class="col col s8 m8 l8">
                  <p class="user-roal"></p>
                </div>
              </div>
            </li>
          </div>

          <ul class="collapsible">
            <strong style="margin-left: 20px;">Food Menus</strong>
            <br>
            <br>

            <li *ngFor="let cat of categoryList">
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>
                {{cat.name}}
                <br>
              </div>
              <div class="collapsible-body">
                <ul *ngFor="let food of foodList">
                  <li *ngIf="food.categoryId == cat.id">
                    <a routerLink="javascript:void(0)" class="waves-effect waves-cyan">
                      <span class="fa fa-circle"></span>
                      <b class="food-menus">
                        <span class="badge">Rs. {{food.price}}</span>{{food.name}}</b>
                    </a>
                  </li>
                </ul>

                <!-- <span>Lorem ipsum dolor sit amet.</span> -->
              </div>
            </li>
          </ul>

        </ul>
        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </aside>
      <section id="content" class="full-body">
        <!--start container-->
        <div class="container">
          <router-outlet></router-outlet>
        </div>

      </section>

    </div>

  </div>
  <footer class="page-footer" style="background-color:#0277bd !important">
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2018 {{companyName}} All rights reserved.
      </div>
    </div>
  </footer>
</body>

</html>