<footer class="page-footer" style="background-color:#0277bd !important">
  <div class="footer-copyright">
    <div class="container">
      Copyright © 2018 DumbsRaj All rights reserved.
    </div>
  </div>
</footer>
