<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <div class="s6 m6 l6">
      <li class="navHeader">
        <div class="row">
          <div class="col col s4 m4 l4">
            <!-- <img src="../assets/BestPass-Images/BP_green_2x.png" alt="" class="responsive-img"> -->
          </div>
          <div class="col col s8 m8 l8">

            <!-- <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav"> <i class="mdi-navigation-arrow-drop-down right"></i></a> -->
            <p class="user-roal"></p>
          </div>
        </div>
      </li>
      <!-- <img src="../assets/BestPass-Images/header_home.jpg" class="customnavHeader"> -->
    </div>

    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
          <a routerLink="/Movies" class="waves-effect waves-cyan">
            <i class="fa fa-file" aria-hidden="true"></i>
            <b>Movie</b>
          </a>
        </li>
        
        <li class="bold">
          <a routerLink="/Types" class="waves-effect waves-cyan">
            <i class="fa fa-clone" aria-hidden="true"></i>
            <b>Movie Type</b>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
</aside>